tornado==4.5.3
SPARQLWrapper==1.8.4
networkx==2.4
Jinja2==2.11.3
jupyter
notebook==5.7.10
ipywidgets==7.5.1
jupyter-contrib-nbextensions
widgetsnbextension
gremlinpython
requests==2.24.0
ipython==7.16.1
neo4j==4.2.1

# requirements for testing
boto3==1.15.15
botocore==1.18.18
pytest==6.2.2