aenum==2.2.4
appnope==0.1.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
boto3==1.15.15
botocore==1.18.18
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
gremlinpython==3.4.3
idna==2.10
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.17.2
Jinja2==2.10.1
jmespath==0.10.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
MarkupSafe==1.1.1
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
networkx==2.4
notebook==5.7.8
packaging==20.4
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
rdflib==5.0.0
requests==2.24.0
s3transfer==0.3.3
Send2Trash==1.5.0
six==1.15.0
SPARQLWrapper==1.8.4
terminado==0.9.1
testpath==0.4.4
tornado==4.5.3
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.4.0
jupyter-contrib-nbextensions==0.5.1