SPARQLWrapper==1.8.4
networkx==2.4
Jinja2==3.0.3
jupyter
notebook>=6.1.5
ipywidgets==7.5.1
jupyter-contrib-nbextensions
widgetsnbextension
gremlinpython>=3.5.1
requests==2.24.0
ipython>=7.16.1,<7.17.0
ipykernel==5.3.4
neo4j==4.2.1
rdflib~=5.0.0
traitlets~=4.3.3
setuptools~=40.6.2
nbconvert<6
jedi<0.18.0
ipyfilechooser==0.6.0
markupsafe<2.1.0

# requirements for testing
botocore~=1.18.18
boto3~=1.15.15
pytest==6.2.2