<div>
    {% block style %}
    <style>
        .loader {
            border: 1em solid #f3f3f3; /* Light grey */
            border-top: 1em solid #3498db; /* Blue */
            border-radius: 50%;
            width: 3em;
            height: 3em;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    {% endblock %}

    <div class="loader"></div>
</div>